html{
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    background: rgb(29,253,192);
    background: linear-gradient(10deg, rgba(29,253,192,1) 10%, rgba(178,253,29,1) 30%, rgba(235,212,93,1) 50%, rgba(178,253,29,1) 70%, rgba(29,253,192,1) 90%);

}

div{
    /*border: 4px blue solid;*/
}

.main-div{
    margin: 1% 20%;
    min-height: max-content;
    min-height: 50%;
    max-width: 500px;
    position: fixed;
    top:12%;
    background-color: rgba(179, 178, 178, 0.719);
    box-shadow: 0em 0em 3em black ;
    border: 1px solid white;
    border-radius: 2%;
}

.buttons{
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 7% 0;
}

.button{
    width: 70px;
    height: 70px;
    margin: 1% 4%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    transition: all .2s;
}

.number:hover{
    box-shadow: 0em 0em 1em white;
}

.erase:hover{
    filter: drop-shadow(0em 0em 1em rgb(255, 215, 177));
}

.operation:hover{
    filter: drop-shadow(0em 0em 1em rgb(99, 201, 121));
}

.equals:hover{
    filter: drop-shadow(0em 0em 1em rgb(235, 18, 18));
}

.erase{
    cursor: pointer;
    transition: all .2s;
}

.operation{
    background-color: rgba(60, 216, 99, 0.938);
}

.equals{
    background-color: rgba(206, 28, 28, 0.425);
}

p{
    font-size: 30px;
}

.results-text{
    font-size: 40px;
    margin: 0 30px 0 0;
}

.results{
    display: flex;
    padding: 5% 10% 0;
    align-items: center;
    justify-content: right;
    cursor: default;
}

.inside-results{
    background-color: rgb(227, 230, 230);
    width: 95%;
    display: flex;
    justify-content: right;
}

.close-div{
    display: flex;
    justify-content: end;
    position: fixed;
    width: 90%;
    margin-top: 5%;
    cursor: pointer;
}

.close{
    width: 50px;
    height: 50px;
}

img{
    width: 80px;
    height: 80px;
}